<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Potwierdzenie rejestracji</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body style="margin: 0; padding: 0; font-family: 'Roboto', sans-serif; color: white">
<div style="padding: 40px 0; color: white; width: 380px; margin: 0 auto; border-radius: 15px; box-shadow: 0 0 25px black; background-color: #393e46;">
  <h1 style="text-align: center;">Potwierdzenie konta</h1>
  <p style="margin: 40px 0;font-size: 1.4em;text-align: center;">Aby aktywować konto utworzone w aplikacji <span style="color: #76ead7">Mafia-game</span>, kliknij poniższy przycisk.</p>
  <div style="text-align: center;">
    <a style="margin: 0 auto;padding: 10px 40px;text-decoration: none;color: black;border: none;font-size: 1.5rem;background: #c4fb6d;border-radius: 50px;" href="{{confirmUrl}}">Aktywuj konto</a>
  </div>
</div>
</body>
</html>
